<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048938912171-2snqg5tcckriqo8om1o8pkaka41e2i6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048938912171-2snqg5tcckriqo8om1o8pkaka41e2i6t</string>
	<key>API_KEY</key>
	<string>AIzaSyAVdhwm5nNjJLM_--CaNLxdz2zNg4wsi8U</string>
	<key>GCM_SENDER_ID</key>
	<string>1048938912171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kelon.KElonTinder</string>
	<key>PROJECT_ID</key>
	<string>kinder-bb87b</string>
	<key>STORAGE_BUCKET</key>
	<string>kinder-bb87b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048938912171:ios:55fcbe48e60988ebe11aee</string>
	<key>DATABASE_URL</key>
	<string>https://kinder-bb87b.firebaseio.com</string>
</dict>
</plist>